.categories {
	@include adaptiveValue("margin-bottom", 120, 60);
	background: url("@img/categories/bg.jpg") center no-repeat;
	@media (max-width: $tablet) {
		background-image: none;
	}
	&__container {
	}

	&__title {
	}

	&__subtitle {
	}

	&__inner {
		display: grid;
		grid-template-columns: repeat(3, minmax(280px,370px));
		grid-template-rows: repeat(2, 318px);
		grid-gap: 30px;
		@media (max-width:$tablet){
			grid-template-columns: repeat(2, minmax(280px,370px));
			grid-template-rows: repeat(3, 318px);
			justify-content: center;
		}
		@media (max-width:$mobile){
			grid-template-columns: minmax(280px,1fr);
			grid-template-rows: repeat(4, 318px);
			align-items: center;
			
		}
	}

	&__item {
		background-repeat: no-repeat;

		@include adaptiveValue("padding-left", 40, 5);
		@include adaptiveValue("padding-top", 35, 5);
		@media (max-width: $mobile) {
			background-image: none;
			height: 100%;
		}
		&:nth-child(1) {
			grid-row: 1/3;
			grid-column: span 1;
			@media (max-width:$mobile){
				  background-size: 120px;
				 grid-row: 1/2;
				 grid-column: span 2;
			}
			background-image: url("@img/categories/1.png");
			background-position: right bottom;
			background-color: #edddee;

			span {
				color: #5800e4;
				display: block;
				margin-bottom: 4px;
			}
		}

		&:nth-child(2) {
			grid-column: span 2;
			@media (max-width:$tablet){
				grid-row: 3/3;
			
			}
			@media (max-width:$mobile){
				 grid-row: 4/5; 
				 align-content: start;
			}
			display: grid;
			background-image: url("@img/categories/2.png");
			align-content: center;
			background-color: #ddedee;
			background-position: right bottom;

			span {
				color: $mc;
			}
		}

		&:nth-child(3) {
			grid-row: 2/2;
			@media (max-width:$mobile){
				 grid-row: 2/2; 
				 grid-column: span 2;
				 
			}
			background-image: url("@img/categories/3.png");
			background-color: #fef5a8;
			background-position: right bottom;

			span {
				color: #ffb534;
			}
		}

		&:nth-child(4) {
			grid-row: 2/2;
			@media (max-width:$tablet){
				grid-row: 1 / 1;
			}
			@media (max-width:$mobile){
				grid-row: 3 / 3;
				
			}
			background-image: url("@img/categories/4.png");
			background-color: #ececec;
			background-position: right bottom;

			span {
				color: #34c3ff;
			}
		}
	}

	&__name {
		line-height: 26px;
		display: inline-block;
		margin-bottom: 4px;
		text-transform: capitalize;
	}

	&__type {
		font-size: 22px;
		font-family: $rbt;
		margin-bottom: 10px;
		color: $ttc;
		font-weight: 500;
		text-transform: capitalize;
	}

	&__link {
		letter-spacing: 50;
		line-height: 19px;
		width: fit-content;
		color: $ttc;
		font-family: $rbt;
		font-weight: 400;
		text-transform: uppercase;

		&:hover {
			color: $mc;
			border-bottom: 1px solid $mc;
		}
	}
}
