//====================================================================================================
.header {
	position: relative;
	z-index: 50;

	&__container {}

	&__nav {
		@include adaptiveValue("padding-top", 40, 30);
		@include adaptiveValue("padding-bottom", 40, 30);
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width:$pc) {
			padding-right: 10px;
		}

		@media (max-width:$mobile) {
			overflow: hidden;
		}

		@media (max-width:$mobileSmall) {
			flex-direction: column;
			justify-content: center;
			gap: 35px;
		}
	}

	&__logo {}

	&__menu {}

	&__control {}
}

.logo {

	&__img {}
}

.menu {
	display: flex;
	@include adaptiveValue("gap", 45, 25, 1200, 768, 1);
	transition: all 0.4s ease 0s;

	@media (max-width:$mobile) {
		position: absolute;
		top: 100px;
		left: 0;
		right: 0;
		display: block;
		text-align: center;
		background-color: $mc;
		color: #fff;
		padding: 25px 0;
		transform: translate(-100%, 0px);
		overflow: auto;
		height: 100vh;
	}



	@media (max-width:$mobileSmall) {
		top: 200px;
	}

	&__icon {}

	&__item {
		@media (max-width:$mobile) {

			&:not(:last-child) {
				margin-bottom: 35px;
			}
		}
	}

	&__link {
		margin-top: 5px;
		padding-bottom: 4px;
		position: relative;
		font-size: 16px;
		line-height: 19.2px;
		transition: all 0.4s ease 0s;
		font-family: $rbt;
		font-weight: 400;
		display: block;

		@media (max-width:$mobile) {
			font-size: 20px;
			padding: 10px 0;
		}

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 0px);
			background-color: $mc;
			width: 0;
			height: 1px;
			opacity: 0;
			transition: all 0.4s ease 0s;
		}

		&:hover {
			font-size: 14px;
			color: $mc;
			text-shadow: 0px -25px 1px $mc;

			@media (max-width:$mobile) {
				text-shadow: none;
				font-size: 23px;
				color: #000;
			}

			&::before {
				content: '';
				opacity: 1;
				width: 50px;

				@media (max-width:$mobile) {
					width: 100%;
					background-color: #000;
				}
			}
		}
	}
}

.control {
	display: flex;
	@include adaptiveValue("gap", 25, 20);

	@media (max-width:$mobileSmall) {
		justify-content: space-around;
		width: 100%;
	}

	&__item {}

	&__link {
		position: relative;

		&:hover {
			.control__icon {
				fill: $mc;
				transform: scale(1.3);
			}

			.control__num {
				transform: scale(1.3);
			}
		}
	}

	&__icon {
		transition: all 0.4s ease 0s;
		fill: #29282d;
	}

	&__num {
		transition: transform 0.4s ease 0s;
		border-radius: 50%;
		background-color: $mc;
		position: absolute;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
		top: -10px;
		right: -51%;
		font-size: 12px;
	}
}


.menu-open {
	.header__menu {
		transform: translate(0px, 0px);
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	transition: all 0.4s ease 0s;

	&:hover {

		span,
		&::before,
		&::after {
			background-color: $mc;
		}
	}

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;

		span,
		&::before,
		&::after {
			content: "";
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
			transition: all 0.4s ease 0s;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - rem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
